<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:task="http://www.springframework.org/schema/task"
	   xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd  
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd"

	   default-lazy-init="true">

	<bean id="saopaudit" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"></property>
		<property name="url" value="jdbc:oracle:thin:@//133.0.205.174:1521/SAOP"> </property>
		<property name="username" value="SAOP_AUDIT"></property>
		<property name="password" value="Hbdx_2019"></property>
	</bean>

	<bean id="ftpUploadTask" class="com.asiainfo.crm.ftp.job.Jobs" />
	<task:scheduled-tasks>
		<!-- ftp上传定时任务 -->
		<!-- 4G订单信息稽核(3点) -->
		<task:scheduled ref="ftpUploadTask" method="orderInfoAudit4G" cron="0 0 3 * * ?" />
		<!-- 4G订单费用稽核(0点) -->
		<task:scheduled ref="ftpUploadTask" method="orderchargeAudit4G" cron="0 0 0 * * ?" />
		<!-- 4G产品实例日稽核(1点) -->
		 <task:scheduled ref="ftpUploadTask" method="prodInstDailyAudit4G" cron="0 0 1 * * ?" />
		<!-- 4G产品实例月稽核(每月最后一天)-->
		<task:scheduled ref="ftpUploadTask" method="prodInstMonthAudit4G" cron="0 0 0 1 * ? " />
		<!-- 4G销售品实例日稽核(2点) -->
		 <task:scheduled ref="ftpUploadTask" method="offerDailyAudit4G" cron="0 0 2 * * ?" />
		<!-- 4G销售品实例月稽核(每月一号2点)  -->
		 <task:scheduled ref="ftpUploadTask" method="offerMonthAudit4G" cron="0 0 2 1 * ? " />
		<!-- 4G产品状态激活 -->
		<!--<task:scheduled ref="ftpUploadTask" method="prodActivationAudit4G" cron="0 0 0 * * ?" />-->
		<!-- c网全量稽核 本次不用单独上传-->
		<!-- <task:scheduled ref="ftpUploadTask" method="cprodAudit" cron="0 0 0 * * ?" /> -->
		<!-- 省crm受理集团卡日同步稽核 -->
		<!-- <task:scheduled ref="ftpUploadTask" method="depCardDailySynAudit" cron="0 29 19 * * ?" />-->
		<!-- 3G订单信息稽核 -->
		<!--<task:scheduled ref="ftpUploadTask" method="orderInfoAudit3G" cron="0 0 0 * * ?" />-->
		<!-- 3G订单费用稽核 -->
		<!--<task:scheduled ref="ftpUploadTask" method="orderChargeAudit3G" cron="0 0 0 * * ?" />-->
		<!-- 3G产品状态激活稽核 -->
		<!--<task:scheduled ref="ftpUploadTask" method="prodActivationAudit3G" cron="0 0 0 * * ?" />-->
		<!-- 云卡日稽核 -->
		<!--<task:scheduled ref="ftpUploadTask" method="cloudCardDailyAudit" cron="0 0 0 * * ?" />-->
		<!-- 云卡月稽核 -->
		<!--<task:scheduled ref="ftpUploadTask" method="cloudCardMonthlyAudit" cron="0 0 0 * * ?" />-->
		<!-- 一点收费全量稽核 -->
		<!--<task:scheduled ref="ftpUploadTask" method="ydsfWholeAudit" cron="0 0 0 1,7,15,21,27 * ?" />-->
		<!-- 国际漫游全量 -->
		<!--<task:scheduled ref="ftpUploadTask" method="gcAudit" cron="0 0 0 10,20,12 * ?" />-->
		<!-- 终端补贴日增 -->
		<!--<task:scheduled ref="ftpUploadTask" method="terminalDailyAudit" cron="0 0 0 * * ?" />-->
		<!-- 政企全量稽核 -->
		<!--<task:scheduled ref="ftpUploadTask" method="governmentEnterpriseAudit" cron="0 0 0 	 * ?" />-->
		<!-- 刷侦听表状态 -->
		<!--<task:scheduled ref="ftpUploadTask" method="refreshListenAudit" cron="0 0/15 * * * ?" />-->
		<!-- ftp上传定时任务 -->

		<!-- 查找未报竣的进行报竣每天(2小时一次) -->
		<task:scheduled ref="ftpUploadTask" method="finalReport" cron="0 0 0/2 * * ?" />

		<!-- 转储，每天(0点ban) -->
		<task:scheduled ref="ftpUploadTask" method="temporary" cron="0 30 0 * * ?" />

		<!-- 处理堵单(3小时一次) -->
		<task:scheduled ref="ftpUploadTask" method="messageOrderTimingProcessing" cron="0 0 0/3 * * ?" />

		<!-- 处理动作链拦截的(2小时一次) -->
		<task:scheduled ref="ftpUploadTask" method="interceptMessageOrder" cron="0 0 0/4 * * ?" />

        <!-- 处理强制报竣的、错单的、报竣过为E1的(2小时一次) -->
        <task:scheduled ref="ftpUploadTask" method="forceCompleted" cron="0 0 0/1 * * ?" />




	</task:scheduled-tasks>
</beans>